{% extends 'tasks/base.html' %}

{% block content %}
<h1 class="mt-4">Tasks</h1>
<a href="{% url 'task_new' %}" class="btn btn-primary mb-2">New Task</a>
<ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item">
        <a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a>
        {% if task.completed %}
        <span class="badge badge-success float-right">Completed</span>
        {% else %}
        <span class="badge badge-warning float-right">Pending</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
